<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LookInfoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EEDB7D81CAAA78200E452BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEDB7F11CAAA78200E452BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEDB7FC1CAAA78200E452BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
